@{
  Layout = "_Layout";
}

@using UndergroundConnectionsClient.ViewModels

@model RegisterViewModel

<<<<<<< HEAD
<h2>Register a new user</h2>
=======
<h2>Register a new artist</h2>
>>>>>>> eb367d86c5412eca5518f2cba807d8b5a330567f
<hr />

@using (Html.BeginForm("Register","Account",FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user => user.Email)

  @Html.LabelFor(user => user.Password)
  @Html.PasswordFor(user => user.Password)

  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.PasswordFor(user => user.ConfirmPassword)

  <input type="submit" value="Register">
}